@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.div1046 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 23px;
  line-height: 140%;
  font-family: Merriweather;
  color: #285497;
  text-align: left;
  display: flex;
  align-items: center;
  width: 581px;
  height: 30px;
}
.span264 {
  text-decoration: line-through;
}
.txt-span239 {
  line-break: anywhere;
  width: 100%;
}
.div1047,
.div1048 {
  position: absolute;
  height: 5.88%;
  top: 82.35%;
  bottom: 11.76%;
  line-height: 140%;
}
.div1047 {
  width: 30.56%;
  right: 0;
  left: 69.44%;
  display: flex;
  align-items: center;
}
.div1048 {
  width: 69.44%;
  right: 30.56%;
  left: 0;
  font-size: 16px;
  color: #ff2121;
  display: inline-block;
}
.div1049 {
  height: 22.01%;
  top: 0;
  bottom: 77.99%;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.book-cover-icon210,
.div1049,
.group-div227 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.book-cover-icon210 {
  height: 75.47%;
  top: 24.53%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.group-div227 {
  height: 79.5%;
  top: 0;
  bottom: 20.5%;
  text-align: left;
  font-size: 15px;
  color: #285497;
}
.group-div227:hover {
  animation: 1s ease 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.buttondefault209 {
  width: 170px;
  position: absolute;
  top: 358px;
  left: 5px;
}
.book-intro-div198 {
  position: absolute;
  height: 100%;
  width: 13.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 86.96%;
}
.book-intro-div199 {
  position: absolute;
  top: 0;
  left: 240px;
  width: 180px;
  height: 400px;
}
.div1053,
.div1055 {
  position: absolute;
  right: 0;
  line-height: 140%;
  display: flex;
}
.div1053 {
  height: 5.88%;
  width: 30.56%;
  top: 82.35%;
  bottom: 11.76%;
  left: 69.44%;
  align-items: center;
  justify-content: center;
}
.div1055 {
  height: 22.01%;
  width: 100%;
  top: 0;
  bottom: 77.99%;
  left: 0;
  font-weight: 500;
  align-items: flex-end;
  cursor: pointer;
}
.book-intro-div200,
.book-intro-div201 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 400px;
}
.book-intro-div201 {
  left: 480px;
}
.book-intro-div202,
.book-intro-div203,
.books-group-18 {
  position: absolute;
  top: 0;
  left: 720px;
  width: 180px;
  height: 400px;
}
.book-intro-div203,
.books-group-18 {
  left: 960px;
}
.books-group-18 {
  top: 75px;
  left: 20px;
  width: 1380px;
}
.p174 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.book-intro-div204,
.book-intro-div205 {
  position: absolute;
  height: 100%;
  width: 13.04%;
  top: 0;
  right: 86.96%;
  bottom: 0;
  left: 0;
}
.book-intro-div205 {
  right: 69.57%;
  left: 17.39%;
}
.n-p {
  margin: 0;
}
.book-intro-div206,
.book-intro-div207,
.book-intro-div208 {
  position: absolute;
  height: 100%;
  width: 13.04%;
  top: 0;
  right: 52.17%;
  bottom: 0;
  left: 34.78%;
}
.book-intro-div207,
.book-intro-div208 {
  right: 34.78%;
  left: 52.17%;
}
.book-intro-div208 {
  right: 17.39%;
  left: 69.57%;
}
.books-group-110,
.books-group-111,
.books-group-19 {
  position: absolute;
  top: 525px;
  left: 20px;
  width: 1380px;
  height: 400px;
}
.books-group-110,
.books-group-111 {
  top: 975px;
}
.books-group-111 {
  top: 1425px;
}
.bestselling-div1 {
  position: relative;
  width: 1420px;
  height: 1850px;
  flex-shrink: 0;
  overflow: hidden;
}
.bestselling-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 250px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #c4c4c4;
  font-family: Roboto;
}
